
/**
 * CSS Styles for navigation menu for http://jsliang.com
 * working with: aboutJS.js
 */

 .aboutjs-navmenu {
    @include border-bottom-left-radius( nearest-line-height(10px) );
    background-color: $color-red;
    color: $color-white;
    margin: 0 !important;
    max-height: 100%;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    text-shadow: 1px 1px 2px $color-black;
    top: 0;
    z-index: 300;
    li {
        background-color: transparent;
        font-family: 'Arvo', Georgia, serif;
        margin: 0;
        padding: nearest-line-height($root-font-size*1);
        a {
            background-color: transparent;
            color: $color-white;
        }
        &:hover {
            background-color: lighten($color-red, 15%);
            cursor: pointer;
        }
        &:last-child {
            @include border-bottom-left-radius( nearest-line-height(10px) );
        }
        @media only screen and (max-width: 600px) {
            margin: 0 !important;
        }
    }
    .trigger {
        font-size: 1.25rem;
        line-height: nearest-line-height($root-font-size*1.25);
    }
}
