
@mixin animation($duration, $name, $fill-mode) {
    -moz-animation-duration: $duration;
    -moz-animation-fill-mode: $fill-mode;
    -moz-animation-name: $name;
    -ms-animation-duration: $duration;
    -ms-animation-fill-mode: $fill-mode;
    -ms-animation-name: $name;
    -o-animation-duration: $duration;
    -o-animation-fill-mode: $fill-mode;
    -o-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-fill-mode: $fill-mode;
    -webkit-animation-name: $name;
    animation-duration: $duration;
    animation-fill-mode: $fill-mode;
    animation-name: $name;
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
    -moz-border-bottom-left-radius: $radius;
    -ms-border-bottom-left-radius: $radius;
    -o-border-bottom-left-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin box-shadow($shadow) {
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

// vertical rhythm

@function nearest-line-height($px) {
  @if unitless($px) {
    @warn "Assuming #{$px} to be in pixels";
    $px: 1px * $px;
  } @else if unit($px) != "px" {
    $origin-val: $px;
    $px: $px / ($px * 0 + 1) * $root-font-size;
    @warn "Assuming #{$origin-val} to be #{$px}";
  }
  @return ceil($px / $root-line-height) * $root-line-height / $root-font-size * 1rem;
}
