
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

$font-family-body: 'PT Sans', Helvetica, Arial, sans-serif;

// root element for rem
html {
    font-size: 16px;
}

small {
    font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
}

body {
    font-family: $font-family-body;
}

p {
    line-height: 2;
}

a {
    text-decoration: none;
}

mark {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.7rem;
}

footer {
    > {
        address, p {
            font-family: $font-family-body;
            line-height: 1.2rem;
        }
    }
}
