@import "reset.scss";

/**
 * CSS Styles for http://jsliang.com
 */

@import "main-mixin.scss";

// my color definitions
@import "main-color.scss";

$c-light-shadow:    $color-yellow;
$c-foreground:      $color-black;
$c-background:      $color-white;
$c-middleground:    lighten($c-foreground, 40%);
$c-link:            $color-blue;
$c-entry-info:      $color-brown;
$c-mark:            $color-pink;

small {
    font-size: 0.8em;
}

article {
    margin: 0 auto;
    max-width: 1280px;
}

h1, h2, h3, h4, h5, h6 {
    color: $c-foreground;
    font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        text-shadow: 0 0 7px $c-light-shadow;
    }
}

h1 {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: normal;
    @media only screen and (max-width: 700px) {
        font-size: 2em;
    }

    @media only screen and (max-width: 500px) {
        small {
            display: none;
        }
    }
}

h2 {
    font-size: 2em;
    @media only screen and (max-width: 700px) {
        font-size: 1.3em;
    }
}

body {
    color: $c-foreground;
    background-color: $c-background;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 1em;
}

p {
    font-size: 16px;
    line-height: 2;
    margin: 0.5em 0;
    padding: 0;
}

address {
    font-style: normal;
}

a {
    color: $c-link;
    text-decoration: none;
    padding: 0 0.2em;
    &:hover {
        @include border-radius(0.3em);
        background-color: $c-link;
        color: $c-background;
    }
}

mark {
    @include border-radius(0.5em);
    @include box-shadow(0 0 5px $c-mark);
    background-color: $c-background;
    border: 0;
    color: $c-mark;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    padding: 0.2em 0.4em;
    white-space: nowrap;
    &:hover {
        @include animation(0.5s, mark_hover, forwards);
        @include border-radius(0.5em);
        @include box-shadow(none);
        background-color: $c-mark;
        color: $c-background;
        cursor: default;
    }
}

.avatar {
    @include border-radius(75px);
    max-width: 200px;
    width: 100%;
}

header {
    h1 {
        margin-top: 1em;
    }
    p {
        color: $c-entry-info;
        font-family: 'Raleway', Helvetica, Arial, sans-serif;
        font-size: 1.3em;
        font-weight: normal;
        text-align: center;
        &.contact {
            font-size: 1em;
            .fa {
                font-size: 1.5em;
            }
            > a {
                @media only screen and (max-width: 600px) {
                    white-space: nowrap;
                    font-size: 1em;
                    line-height: 2.5;
                }
                &:hover {
                    @include animation(0.5s, header_a_hover, forwards);
                    background-color: transparent;
                    color: $c-mark;
                }
            }
        }
        > strong {
            color: darken($c-mark, 10%);
            font-weight: bold;
        }

        @media only screen and (max-width: 500px) {
            font-size: 1.1em;
            line-height: 1.5;
        }
    }
    img:hover {
        @include box-shadow(0 0 7px $c-light-shadow);
    }
    ul > li, .row > [class^="col-"] {
        @media only screen and (max-width: 600px) {
            margin: 0 !important;
        }
    }
}

@include keyframes(header_a_hover) {
    from {
        background-color: transparent;
        color: $c-link;
    }
    to {
        background-color: transparent;
        color: $c-mark;
    }
}

footer {
    border-top: 1px dashed $c-middleground;
    padding: 2em 0;
    text-align: center;
    > {
        address, p {
            color: $c-middleground;
            font-family: 'PT Sans', Helvetica, Arial, sans-serif;
            line-height: 1.2em;
            margin: 0.5em 0;
        }
    }
}

.section {
    border-top: 1px dashed $c-middleground;
    padding: 3em 1em;
    ul > li, .row > [class^="col-"] {
        > p {
            text-align: center;
        }
    }
}

ul, .row {
    list-style: none;
    margin: 2em 0 !important;
    padding: 0;
    @media only screen and (max-width: 600px) {
        margin: 0 !important;
    }
}

ul > li,
.row > [class^="col-"] {
    @media only screen and (max-width: 600px) {
        margin: 2em 0 !important;
    }
    &:hover {
        text-shadow: 0 0 7px $c-light-shadow;
    }
    > p {
        color: $c-entry-info;
        line-height: 1.5;
        margin: 1em 0;
        padding: 0 10px;
        &.image {
            margin: 0;
            img {
                @include border-radius(10px);
                @include box-shadow(0 0 7px lighten($c-foreground, 55%));
                margin: 0;
                max-width: 370px;
                padding: 0;
                width: 100%;
                &:hover {
                    @include box-shadow(0 0 7px $c-light-shadow);
                }
            }
            a {
                background: transparent;
                padding: 0;
                text-decoration: none;
                &:hover {
                    background: transparent;
                    padding: 0;
                    text-decoration: none;
                }
            }
        }
        &.title {
            font-family: 'Arvo', Georgia, serif;
            font-size: 1.2em;
            font-weight: bold;
            letter-spacing: -1px;
            margin: 0;
            @media only screen and (max-width: 700px) {
                font-size: 0.9em;
            }
            @media only screen and (max-width: 600px) {
                font-size: 1.1em;
            }
        }
        &.duration, &.school, &.where {
            font-family: 'PT Sans', Helvetica, Arial, sans-serif;
            line-height: 1.5;
            margin: 0;
        }
        &.source, &.siteurl {
            font-family: 'PT Sans', Helvetica, Arial, sans-serif;
            line-height: 1.5;
            margin: 0;
        }
        &.description {
            color: $c-foreground;
            margin-bottom: 0;
        }
        &.marks {
            line-height: 1.3;
            margin-top: 0;
        }
    }
}

@include keyframes(mark_hover) {
    from {
        @include box-shadow(0 0 5px $c-mark);
        background-color: $c-background;
        color: $c-mark;
    }
    to {
        @include box-shadow(none);
        background-color: $c-mark;
        color: $c-background;
        cursor: default;
    }
}

.present > p {
    &.title, &.duration {
        text-shadow: 0 0 10px $c-light-shadow;
    }
    &.duration time {
        text-shadow: none;
    }
}

.nobr {
    white-space: nowrap;
}

@import "aboutJS-navmenu.scss";
