$color-yellow:      #FFF0BB;
$color-white:       #FFFFFF;
$color-black:       #000000;
$color-gray:        lighten($color-black, 40%);
$color-blue:        #0066EE;
$color-brown:       #693726;
$color-pink:        #EC254E;
