@import "_reset.scss";

/**
 * CSS Styles for http://jsliang.com
 */

@import "_mixin.scss";

// my typography
@import "_typography.scss";

// my color definitions
@import "_color.scss";

$c-light-shadow:    $color-yellow;
$c-foreground:      $color-black;
$c-background:      $color-white;
$c-middleground:    lighten($c-foreground, 40%);
$c-link:            $color-blue;
$c-entry-info:      $color-brown;
$c-mark:            $color-pink;

article {
    margin: 0 auto;
    max-width: 1280px;
}

h1, h2, h3, h4, h5, h6 {
    color: $c-foreground;
    margin: 0;
    &:hover {
        text-shadow: 0 0 7px $c-light-shadow;
    }
}

h1 {
    @media only screen and (max-width: 700px) {
        font-size: 2rem;
    }

    @media only screen and (max-width: 500px) {
        small {
            display: none;
        }
    }
}

h2 {
    @media only screen and (max-width: 700px) {
        font-size: 1.3rem;
    }
}

body {
    color: $c-foreground;
    background-color: $c-background;
    margin: 0;
    padding: 0 1rem;
}

p {
    margin: 0.5rem 0;
    padding: 0;
}

a {
    color: $c-link;
    padding: 0 0.2rem;
    &:hover {
        @include border-radius(0.3rem);
        background-color: $c-link;
        color: $c-background;
    }
}

mark {
    @include border-radius(0.5rem);
    @include box-shadow(0 0 5px $c-mark);
    background-color: $c-background;
    border: 0;
    color: $c-mark;
    padding: 0.2rem 0.4rem;
    white-space: nowrap;
    &:hover {
        @include animation(0.5s, mark_hover, forwards);
        @include border-radius(0.5rem);
        @include box-shadow(none);
        background-color: $c-mark;
        color: $c-background;
        cursor: default;
    }
}

@include keyframes(mark_hover) {
    from {
        @include box-shadow(0 0 5px $c-mark);
        background-color: $c-background;
        color: $c-mark;
    }
    to {
        @include box-shadow(none);
        background-color: $c-mark;
        color: $c-background;
        cursor: default;
    }
}

footer {
    border-top: 1px dashed $c-middleground;
    padding: 2rem 0;
    text-align: center;
    > {
        address, p {
            color: $c-middleground;
            margin: 0.5rem 0;
        }
    }
}

.section {
    border-top: 1px dashed $c-middleground;
    padding: 3rem 1rem;
    ul > li, .row > [class^="col-"] {
        > p {
            text-align: center;
        }
    }
}

.nobr {
    white-space: nowrap;
}

// header
@import "_header.scss";

// content (li, div.col-*, ...)
@import "_content.scss";

// navigation menu
@import "_aboutJS-navmenu.scss";
