.coffeescript-cache
.DS_Store
.picasa.ini
.sass-cache
fire_app_log.txt
screenshots/.picasaoriginals
stylesheets/aboutJS-navmenu.css
stylesheets/main-color.css
stylesheets/main-mixin.css
stylesheets/reset.css
