
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}

small
{
    font-size: 0.8em;
}

article
{
    margin: 0 auto;
    max-width: 1024px;
}

h1, h2, h3, h4, h5, h6
{
    color: #000000;
    font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

h1
{
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: normal;
}

h2
{
    font-size: 2em;
}

body
{
    color: #777777;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0 1em;
}

p {
    font-size: 16px;
    line-height: 2;
    margin: 0.5em 0;
    padding: 0;
}

p > strong
{
    color: #000000;
    font-weight: bold;
}

address
{
    font-style: normal;
}

a
{
    color: #0066EE;
    text-decoration: none;
    padding: 0 0.2em;
}

a:hover
{
    color: #FFFFFF;
    background-color: #0066EE;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

#avatar {
    border-radius: 75px;
    -webkit-border-radius: 75px;
}

header
{
    padding: 3em;
}

header > p
{
    font-size: 1.3em;
    text-align: center;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

header > p.contact
{
    font-size: 2em;
}

header > p.contact > a:hover
{
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: header_a_hover;
    -webkitanimation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: header_a_hover;
    background-color: transparent;
    color: #E92CA5;
}

@keyframes header_a_hover {
    from {
        background-color: transparent;
        color: #0066EE;
    }
    to {
        background-color: transparent;
        color: #E92CA5;
    }
}

/*Safari and Chrome*/
@-webkit-keyframes header_a_hover {
    from {
        background-color: transparent;
        color: #0066EE;
    }
    to {
        background-color: transparent;
        color: #E92CA5;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 500px) {
    h1 > small {
        display: none;
    }

    header > p {
        font-size: 1.1em;
        line-height: 1.5;
    }
}

footer
{
    border-top: 1px dashed #555555;
    padding: 2em 0;
    text-align: center;
}

footer > address,
footer > p
{
    color: #555555;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    line-height: 1.2em;
    margin: 0.5em 0;
}

section
{
    border-top: 1px dashed #555555;
    padding: 3em 1em;
}

ul,
.row
{
    list-style: none;
    margin: 2em 0 !important;
    padding: 0;
}

ul > li > p,
.row > [class^="col-"] > p
{
    line-height: 1.5;
    margin: 1em 0;
    padding: 0 10px;
}

ul > li > p.title,
.row > [class^="col-"] > p.title
{
    color: #000000;
    font-family: 'Arvo', Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: -1px;
}
@media only screen and (max-width: 700px) {
    ul > li > p.title,
    .row > [class^="col-"] > p.title {
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 600px) {
    ul > li > p.title,
    .row > [class^="col-"] > p.title {
        font-size: 1.1em;
    }
}

ul > li > p.duration,
ul > li > p.school,
ul > li > p.where,
.row > [class^="col-"] > p.duration,
.row > [class^="col-"] > p.school,
.row > [class^="col-"] > p.where
{
    color: #999999;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
}

ul > li > p.description,
.row > [class^="col-"] > p.description
{
    margin-bottom: 0;
}

ul > li > p.marks,
.row > [class^="col-"] > p.marks
{
    line-height: 1.3;
    margin-top: 0;
}

ul > li > p.marks > mark,
.row > [class^="col-"] > p.marks > mark
{
    -webkit-border-radius: 0.5em;
    background-color: #E92CA5;
    border-radius: 0.5em;
    border: 0;
    color: #FFFFFF;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    padding: 0.2em 0.4em;
    white-space: nowrap;
}

ul > li > p.marks > mark:hover,
.row > [class^="col-"] > p.marks > mark:hover
{
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: mark_hover;
    -webkitanimation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: mark_hover;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #E92CA5;
    color: #E92CA5;
    cursor: default;
}

@keyframes mark_hover {
    from {
        background-color: #E92CA5;
        color: #FFFFFF;
    }
    to {
        background-color: #FFFFFF;
        box-shadow: 0 0 5px #E92CA5;
        color: #E92CA5;
        cursor: default;
    }
}

/*Safari and Chrome*/
@-webkit-keyframes mark_hover {
    from {
        background-color: #E92CA5;
        color: #FFFFFF;
    }
    to {
        background-color: #FFFFFF;
        box-shadow: 0 0 5px #E92CA5;
        color: #E92CA5;
        cursor: default;
    }
}

section > ul > li > p,
section > .row > [class^="col-"] > p {
    text-align: center;
}

.present > p.title {
    text-shadow: 0 0 10px #FFF0BB;
}