article
{
    margin: 0 auto;
    max-width: 1024px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: "Microsoft YaHei", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#name
{
    text-align: center;
}

dl {
    margin-bottom: 2em;
}
 
dl dt {
    float: left; 
    margin-right: 1em; 
    padding: 5px 0;
    text-align: right;
    width: 6em; 
}
 
dl dd {
    margin: 0.2em 0; 
    padding: 5px 0;
}

body,
p,
address
{
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Calibri, 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
}

address
{
    font-style: normal;
}

a
{
    color: #0066EE;
    text-decoration: none;
}

a:hover
{
    color: #5588CC;
    text-decoration: underline;
}

footer
{
    text-align: center;
}

.title
{
    font-weight: bold;
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Calibri, 'Droid Sans', Helvetica, Arial, sans-serif;
}